<!-- wp:template-part {"slug":"header","theme":"tiempo-noticias","area":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|70"}}}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--70)">
	<!-- wp:query-title {"type":"search"} /-->
	<!-- wp:search {"label":"Buscar","showLabel":false,"buttonText":"Buscar"} /-->
	<!-- wp:query {"query":{"perPage":10,"postType":"post"}} -->
	<div class="wp-block-query">
		<!-- wp:post-template -->
			<!-- wp:template-part {"slug":"post-card","theme":"tiempo-noticias"} /-->
		<!-- /wp:post-template -->
		<!-- wp:query-no-results -->
			<!-- wp:paragraph -->
			<p>No encontramos resultados. Prueba otros términos.</p>
			<!-- /wp:paragraph -->
		<!-- /wp:query-no-results -->
	</div>
	<!-- /wp:query -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"tiempo-noticias","area":"footer"} /-->
